# Node / Next.js
node_modules/
.next/
out/
build/
.pnp
.pnp.js
coverage/
.vercel

# Python / Backend
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env

# OS / Editor
.DS_Store
*.pem
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
